h1 {
    background-color:green;
    display: inline;
    color:white; 
    margin-left: 30%;

}

#name{
    display:block;
    margin-top:10px; 
    margin-left: 30%; 
}

#email{
    display:block;
    margin-top:10px; 
    margin-left: 30%; 
}

#message{
    display:block;
    margin-top:10px; 
    margin-left: 30%; 
}

#button{
    border-radius: 50px;
    background-color:green; 
    margin-left:30%; 
    margin-top:10px; 
    color:white; 
}

